@charset "UTF-8";

body {
    /*background-color: black;
    background-image: url(../../imagens/wallpaper002.jpg);
    background-repeat: no-repeat;
    background-ta: center;
    height: 98vh;
    background-size: cover;
    background-attachment: fixed;

    /*
    Shorthand background

    color > image > repeat > atachment > position (W3C)
    */

    background: black url(../../imagens/wallpaper002.jpg) no-repeat fixed center / cover;
}

main {
    background-color: white;
    margin: auto;
    border: 1px solid black;
    border-radius: 15px;
    max-width: 400px;
    padding: 20px;
}