@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

.link-block {
    display: block;
}

code {
    background-color: rgb(88, 88, 88);
    color: rgb(223, 223, 223);
    padding: 3px;
    border-radius: 3px;
}

dl {
    line-height: 25px;
}

p {
    line-height: 20px;
}