@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(80, 241, 48);
    width: 400px;
    height: 400px;
}

@keyframes animacao{
    0% {
        background-color: #ffdd00;
    }
    30% {
        bottom: 30px;
    }

    75% {
        bottom: -30px;
    }

    100% {
        bottom: 0px;
        background-color: green;
    }
}

div a {
    position: relative;
    bottom: 0px;

    text-decoration: none;
    color: black;
    background-color: aliceblue;
    padding: 20px 40px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;

    animation: animacao 2s linear;
    animation-fill-mode: both;
    animation-delay: 3s;
}