@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Shadows+Into+Light&display=swap');

:root {
    --cor0: #e9c9a4;
    --cor1: #F6BB28;
    --cor2: #F2790F;
    --cor3: #A63F03;
    --cor4: #59210C;
    --cor5: #ffffff;
    --cor6: #EFEFEF;
    --cor7: #a7a7a7;
    --cor8-transparente: #a63f03ad;
    --cor9-transparente: #59210cad;

    --fonte-chamativa: 'Shadows Into Light', cursive;
    --fonte-destaque:'PT Serif', serif;
    --fonte-normal: 'Karla', sans-serif;
    --fonte-reserva: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte-normal), var(--fonte-reserva);
}

article {
    width: 90%;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin: 7vh 0;
    color: var(--cor3);
}

h1, h2 {
    font-family: var(--fonte-destaque);
}

p, div {
    line-height: 1.5em;
    font-size: 1.2em;
}

header {
    background: url(imagens/fundos/fundo-cafe.jpg) center / cover;
    height: 99vh;
    box-shadow: 0px 0px 10px var(--cor4);
}

header > h1 {
    background-image: linear-gradient(to right, var(--cor8-transparente), var(--cor9-transparente));
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    color: var(--cor5);
    font-size: 2.9em;
    margin: 0;
    padding: 0 2vw 3vw 2vw;

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#diminuir-letra {
    font-size: 0.5em;
}

#sublinhar {
    text-decoration: underline;
}

header > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;

    text-decoration: none;
    color: var(--cor5);
    background-color: var(--cor2);
    font-size: 1.3em;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px var(--cor5);
    border: 2px solid var(--cor1);
    width: 120px;
}

header > a:hover {
    box-shadow: 0px 0px 10px var(--cor5);
}

main {
    background-color: var(--cor5);
}

#artigo-pergunta {
    color: var(--cor3);
    font-weight: 800;
}

.artigo-link {
    text-decoration: none;
    background-color: var(--cor3);
    color: var(--cor5);
    font-size: 1.2em;
    border: 1px solid var(--cor3);

    display: inline-block;
    margin: 3vh 0px;
    padding: 5px 15px;
    transition: 0.1s;
}

.artigo-link:hover {
    background-color: var(--cor5);
    color: var(--cor3);
    border: 1px solid var(--cor3);
}

#cardapio {
    max-width: none;
    width: 100%;
    background-color: var(--cor3);
    box-shadow: 0px 0px 10px var(--cor4);
}

#cardapio > h1 {
    background-color: #59210C;
    background-image: url(../imagens/icones/linha-horizontal.png);
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 30px 0px;

    color: var(--cor5);
}

#container-produtos {
    max-width: 1200px;
    margin: auto;
}

.cardapio-produto {
    display: inline-block;
    margin: 0vw 1vw 3vw 1vw;
}

.cardapio-produto > img {
    width: 95%;
}

.cardapio-produto > p {
    background-color: var(--cor5);
    width: 95%;
    margin: -10px auto 0 auto;
    padding: 10px 0;
    font-size: 1.3em;
    font-weight: bold;
    color: var(--cor4);
    transition: 0.2s;
}

.cardapio-produto:hover > p {
    background-color: var(--cor4);
    color: var(--cor5);
    font-size: 1.4em;
}

#cardapio > section > a {
    background-color: var(--cor2);
    color: var(--cor5);
}

#cardapio > section > a:hover {
    background-color: var(--cor4);
    border: 1px solid var(--cor5);
}

#avaliacoes {
    max-width: 1200px;
}

#avaliacoes > h1 {
    position: relative;
}

#avaliacoes > h1::before {
    content: "";
    background-color: var(--cor3);
    width: 250px;
    height: 3px;
    position: absolute;
    top: 0px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

#avaliacoes > h1::after {
    content: "";
    background-color: var(--cor3);
    width: 250px;
    height: 3px;
    position: absolute;
    top: 60px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.avaliacoes {
    position: relative;
    bottom: 0px;
    transition: 0.5s;

    display: inline-block;
    max-width: 250px;
    width: 90%;
    height: 200px;
    margin: 0vw 1vw 5vw 1vw;
    padding: 1.5vw;
    background-color: var(--cor6);
    border-radius: 5px;
    text-align: left;
}

.avaliacoes:hover {
    bottom: 10px;
}

.avaliacoes-perfil {
    display: inline-block;
    width: 45px;
}

.avaliacoes-nome {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    font-weight: bold;
    font-size: 1.1em;
}

.avaliacoes-verificado{
    width: 20px;
}

.avaliacoes-descricao {
    font-size: 1em;
}

.avaliacoes-data {
    font-size: 0.8em;
    color: var(--cor7);
    padding-top: 3vw;
}

footer {
    background-color: var(--cor4);
    margin-bottom: 10vw;
    text-align: center;
    box-shadow: 0px 0px 10px var(--cor4);
}

footer > h1 {
    position: relative;
    color: var(--cor5);
    padding-top: 50px;
}

footer > h1::after {
    content: "";
    position: absolute;
    top: 100px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 3px;
    background-color: var(--cor2);
}

.sections-fale-conosco {
    color: var(--cor5);
    display: inline-block;
    vertical-align: top;
    margin: 0px 5vw 30px 5vw;
}

.sections-fale-conosco > h2 {
    margin-bottom: 20px;
}

.sections-fale-conosco > p {
    color: var(--cor1);
}

#sem-margem {
    margin-bottom: 0px;
}

#margem-acima {
    margin-top: 20px;
}

.redes-sociais {
    position: relative;
    bottom: 0px;
    transition: 0.3s;
    width: 30px;
    margin-right: 15px;
}

.redes-sociais:hover {
    bottom: 5px;
    filter: brightness(0%) invert(100%);
}

#container-endereco {
    padding: 50px 0px;
}

#endereco {
    display: block;
    width: 90%;
    max-width: 800px;
    height: 300px;
    margin: auto;
    border-radius: 10px;
}
