@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, #6AE187, #C3F5BA); /*Explicação sobre degradê com porcentagem:Colocando 20% em amarelo ele não ocupa 20% da tela mas sim 80%. O que ocorre é que o inicio do amarelo puro vai se dar na posição de 20% to right, e ele vai até o final da tela ocupando basicamente 80%.*/
    background-attachment: fixed; /*Deixa o degradê fixo no fundo (solução para site cortado)*/
}

h1 {
    color: #A85E93;
}

h2{
    color: #A85E93;
}

p {
    background-color: white;
}

a {
    color: #A85E93;
}

code {
    background-color: rgb(41, 41, 41);
    color: rgb(158, 157, 157);
}
