@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Allura&family=Playfair+Display&display=swap');

@font-face {
    font-family: 'Bebas Neue';
    src: url(fontes/bebas-neue-regular/bebas-neue-regular.ttf) format('truetype'), url(fontes/bebas-neue-regular/bebas-neue-regular.otf) format('opentype');
}

    /*
    Tipos de format()
    - opentype (otf)
    - truetype (ttf)
    - embedded opentype
    - truetype aat (Apple Advanced Tipography)
    - svg
    */

body {
    background-color: #414141;
    font-family: Arial, Helvetica, sans-serif;
    /*font-variant: small-caps; Letra de forma*/
}

main {
    background-color: white;
    width: 600px;
    margin: auto;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 3px 3px 15px #202020;
}

h1{
    text-align: center;
    color: #A67763;
    font: bold 3em 'Allura', cursive;

}

h2 {
    color: #394D39;
    font-family: 'Playfair Display', serif;
}

h3 {
    color: #736B67;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

dt {
    font-size: 15pt;
}

dd {
    font-style: italic;
}

code {
    background-color: #323233;
    color: #FBFBFD;
    border-radius: 3px;
    padding: 1px;
}

pre {
    background-color: #323233;
    border-radius: 5px;
    padding: 5px;
}
