@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    padding-bottom: 1000px;
}

.codigo {
    color: rgb(221, 221, 221);
    background-color: rgb(80, 80, 80);
    display: inline-block;
    padding: 3px;
    border-radius: 5px;
}

.codigo:hover {
    color: white;
}

section p,
section h1 /*é possível usar "*"*/ {
    color: red;
}

h2.titulo-ex1 {
    color: purple;
}

.pai1 {
    color: red;
    background-color: rgb(252, 206, 137);
}

.filho {
    background-color: azure;
}

.pai2 .filha {
    color: initial;
}

.pai2 > .filha {
    color: red;
}

.pai3  p+h2 {
    color: green;
}

.pai3 h2+p {
    color: red;
}

.pai4 h2~p{
    color: purple;
}

[href="../seletores-css/"] {
    color: red;
}

.teste:not([atributo]) {
    color: red;
}

ul li:nth-child(odd) {
    background-color: blueviolet;
}
